.textonbg		{font-family: Verdana; font-size: 10pt; color: #FFFFFF;}
.quote        		{font-size: 10pt; font-family: Arial; color: #FFFFFF; background-color: dimgray;}
.code         		{font-size: 10pt; font-family: Courier New; color: #000000; background-color: #FFB920;}
.tdheader1    		{background-color: #343434; font-family: Verdana; font-size: 12pt; color: #FFFFFF; font-weight: bold}	

.linkonbg:link, .linkonbg:visited        	{text-decoration: underline; color: #FFFFFF;}
.linkonbg:hover       	{color: #000000; background-color: #BCBFFF; font-style: normal; text-decoration: underline;}

.linkinbox:link, .linkinbox:visited        	{text-decoration: underline; color: #000000;}
.linkinbox:hover       	{color: #000000; background-color: #BCBFFF; font-style: normal; text-decoration: underline;}

.nicelink:link, .nicelink:visited        	{color: #FFFFFF; text-decoration: none;}
.nicelink:hover       	{color: #000000; background-color: #BCBFFF; font-style: normal;}


.bgcell1, .bgcell2, .bgcell3, .bgcell4 {font-family: Verdana; font-size: 10pt; color: #000000;}

.bgcell1		{background-color: #AAAAAA;}
.bgcell2		{background-color: #CCCCCC;}
.bgcell3		{background-color: #C9C9FF;}
.bgcell4		{background-color: #DDDDFF;}

.lighttext	{color: #666666;}

input, textarea, select		{background-color: #333333; font-family: Verdana; font-size: 10pt; color: #FFFFFF;}
select        		{font-size: 7pt;}

A.avLink
{
    COLOR: #FFFFFF;
    TEXT-DECORATION: none;
}
A.avLink:hover
{
    TEXT-DECORATION: underline;
}

.boxheader		{font-family: Verdana,Geneva,Sans Serif,MS Sans Serif,sans,sans-serif; font-size: 10pt; font-weight: bold; color: #000000; background-color: #809CC9;}
.boxtextbox, .boxtext		{font-family: Verdana,Geneva,Sans Serif,MS Sans Serif,sans,sans-serif; font-size: 9pt; color: #FFFFFF;}
.boxtextbox { background-color: #7C7B7B;}
.rb			{font-family: Verdana,Geneva,Sans Serif,MS Sans Serif,sans,sans-serif; font-size: 9pt; color: #FFFFFF; border-right: 1px solid #AAAAAA;}
.navtxt			{font-family: Microsoft Sans Serif,Geneva,Sans Serif,MS Sans Serif; font-size:8pt;}
.icontext		{font-family: Verdana,Geneva,Sans Serif,MS Sans Serif,sans,sans-serif; font-size: 8pt; color: #FFFFFF; text-decoration:none;}
.icontext:hover		{font-family: Verdana,Geneva,Sans Serif,MS Sans Serif,sans,sans-serif; font-size: 8pt; color: #FFFFFF; text-decoration:underline;}

.navboxtext		{font-family: Verdana,Geneva,Sans Serif,MS Sans Serif,sans,sans-serif; font-size: 7pt; color: black;}

.fancyright, .fancyleft { border: 2px solid black; margin-bottom: 10px;}
.fancyright { clear: both; float: right; margin-left: 10px; }
.fancyleft { clear: both; float: left; margin-right: 10px; }
.smallindent { font-size: 8pt; margin-left: 25px; }
.testimonial {
	width: 330px;
	background-color: #BCBFFF;
	padding: 10px;
	border: 2px solid black;
	margin: 5px;
	font-size: 10px;
	float: left;
}

.stattable TR TD {
	font-size: 10px;
}

.stattable TR TH {
	font-size: 10px;
	text-align: left;
}



A		{color: white; }
A:visited	{color: white; }
/*
     FILE ARCHIVED ON 17:00:05 Jun 08, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:48:20 Nov 04, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  RedisCDXSource: 1.618
  CDXLines.iter: 12.624 (3)
  PetaboxLoader3.datanode: 87.027 (4)
  LoadShardBlock: 115.403 (3)
  exclusion.robots.policy: 0.182
  esindex: 0.023
  load_resource: 47.759
  captures_list: 135.035
  PetaboxLoader3.resolve: 29.384
  exclusion.robots: 0.196
*/